<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925710002032-1m1s1ef0oeav0r8105oejarv8u2r9mb7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925710002032-1m1s1ef0oeav0r8105oejarv8u2r9mb7</string>
	<key>API_KEY</key>
	<string>AIzaSyCCa57laylArDyOKHwCYeuoC_Hy4q7AsKc</string>
	<key>GCM_SENDER_ID</key>
	<string>925710002032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tech.Bubl</string>
	<key>PROJECT_ID</key>
	<string>bubl-b174c</string>
	<key>STORAGE_BUCKET</key>
	<string>bubl-b174c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925710002032:ios:a5a2d31b6191b5073e11b5</string>
	<key>DATABASE_URL</key>
	<string>https://bubl-b174c.firebaseio.com</string>
</dict>
</plist>